.nav-header {
  display: flex;
  justify-content: center;

  background-color: #272727;
}
.nav-content {
  width: 90%;
  display: flex;
  align-items: center;
  max-width: 1110px;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media screen and (min-width: 767px) {
  .nav-content {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.nav-bar-large-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1110px;
}

@media screen and (max-width: 767px) {
  .nav-bar-large-container {
    display: none;
  }
}
.nav-bar-mobile-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .nav-bar-mobile-container {
    display: none;
  }
}
.website-logo-mobile {
  width: 110px;
}

@media screen and (min-width: 768px) {
  .website-logo-mobile {
    display: none;
  }
}

.website-logo {
  width: 165px;
}

.nav-menu {
  display: flex;
  list-style-type: none;
  padding-left: 0px;
  margin-left: 0px;
}

.nav-menu-item {
  color: #ffffff;
  font-family: 'Roboto';
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 500;
  font-size: 16px;
}

.logout-desktop-btn {
  background-color: #4f46e5;
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 14px;
  padding: 8px 16px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 8px;
  width: 100px;
}

.nav-menu-mobile {
  display: flex;
  align-items: center;
  width: 30%;
  padding-left: 0px;
  margin-left: 0px;
}

.nav-menu-list-mobile {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding-left: 0px;
  margin-left: 0px;
}
.nav-bar-image {
  color: #ffffff;
  font-size: 24px;
}
.nav-mobile-btn {
  background-color: transparent;
  border: none;
  margin-left: 10px;
}

.nav-link {
  text-decoration: none;
  color: #ffffff;
  padding-right: 10px;
}
